# Application Secrets
PORT=4000
NODE_ENV=development
COOKIE_SIGNATURE=''
JWT_SECRET=''
FRONTEND_DOMAIN=localhost:5173

# Hedera Secrets
TREASURY_PVT_KEY=
TREASURY_PUB_KEY=
TREASURY_ID=

# SENDGRID CONFIGURED
SEND_GRID_FROM_NAME=Sender
SEND_GRID_FROM_EMAIL=Receiver
SEND_GRID_API=SendApi

# RESEND CONFIGURED
RESEND_API_KEY=''

# DATABASE SECRETS
DATABASE_URL=postgres://postgres.shpkeqfrntxpyfmrvteq:8p3L9KExmq7voTfK@aws-0-ap-southeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true&connection_limit=1
DIRECT_URL=postgres://postgres.shpkeqfrntxpyfmrvteq:8p3L9KExmq7voTfK@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres
